.header
  .header__top
    = link_to "/" do
      .header__top__logo
        = image_tag "/images/logo.png", class:"logo"
    #home.big-bg
      %header.page-header.wrapper
        %h1
          %a
            %img.logo{:alt => "SunadokeIホーム", :src => ""}/
        %nav
          %ul.main-nav
            %li
              %a SunadokeIとは？
              %a.button{:href => "login.html"} ログイン
      .home-content.wrapper
        %h2.page-title Life Share　　　 　　『終活』
        %p「後悔」を「公開」し「幸界」を創る。




-# .head
-#   %body
-#     #home.big-bg
-#       %header.page-header.wrapper
-#         %h1
-#           %a
-#             %img.logo{:alt => "SunadokeIホーム", :src => "images/logo.png"}/
-#         %nav
-#           %ul.main-nav
-#             %li
-#               %a SunadokeIとは？
-#               %a.button{:href => "login.html"} ログイン
-#       .home-content.wrapper
-#         %h2.page-title Life Sharing　　　　　『終活』
-#         %p「後悔」を「公開」し「幸界」を創る。