.header
  .header__top
    = link_to "/" do
      .header__top__logo
        = image_tag "/images/logo.png", class:"logo"
      = link_to new_user_session_path do
        .header__top__logo__text
          SunadokeIとは？
        -# .header__top__logo__button
        -#   .button{:href => "login.html"} ログイン
  .header__main
    .header__main__box
      Life Sharing 　　　　   　『想続』
      .header__main__box__min
        「後悔」を「公開」し「幸界」を創る。

